.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.search-container {
  position: relative;
  margin: 20px auto;
  width: 45%;
  display: flex
}

.search-input {
  width: 100%;
  padding: 12px 40px 12px 35px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #755b5b;
  font-size: 20px;
}

.dropdown {
  width: 92%;
  border: 1px solid #ffffff;
  padding: 20px;
  position: absolute; /* Changed from 'center' to 'absolute' */
  top: 100%;
  z-index: 1050; /* Ensure it's high enough to be on top of other content */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown .suggestion-item:last-child {
  margin-bottom: 0; 
}

.suggestion-item {
  text-align: left; 
}

.product-name {
  text-align: left; 
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #eee;
  transition: all 0.3s ease;
}

.suggestion-item:hover {
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.suggestion-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.product-detail {
  position: relative; /* Added to ensure proper stacking context */
  border: 1px solid #e1e1e1;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000; /* Lower than dropdown for overlay effect */
}

.product-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
}

.ingredients-list li {
  margin: 5px 0;
}

.ingredients-list li.pore-clogging {
  color: red;
  font-weight: bold;
}
