.App {
  text-align: center;
}

.dropdown {
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%; /* Adjust width as needed */
  margin: 20px auto; /* Center the dropdown */
  position: relative;
  z-index: 1000; /* Ensures the dropdown appears on top of other content */
  background-color: white;
}

.suggestion-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer; /* Makes it clear that suggestions are clickable */
}

.product-image, .suggestion-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.product-title, .suggestion-title {
  font-size: 16px;
  color: #333;
}

.ingredients-list {
  padding: 0;
  list-style-type: none;
}

.ingredients-list li {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}